/* ////////////////////////////////////////////main///////////////////////////////////////////////////////// */
@font-face{
	font-family: OdinRoundedLight;
	src: url("OdinRoundedLight.otf");
}

html{
	scroll-behavior: smooth;
}

body{
	padding:0;
	margin:0;
	background-color: #262D33;
	animation-name: fade;
	animation-duration: 2s;
	font-family: OdinRoundedLight;
	color: white;
}

@keyframes fade{
	from{
		opacity: 0;
	}to{
		opacity: 1;				
	}
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/*tugas 2*/
/*
h2{
	color: whitesmoke;
	display: flex;
  	justify-content: center;
  	align-items: center;
}
*/
.banner{
	background: url("homepict.png");
	background-position: center;
	background-size: cover;
	height: 400px;
	color: white;
	border-bottom: #24272E 30px solid;
}
/*end tugas 2*/

/*tugas 3*/
.container {
    display: flex;
    flex-wrap: wrap;
}

.wrapper{
	display: flex;
	flex-wrap: wrap;
}


.item{
	background-color: #24272E;
	height: 420px;
	width: 100%;
}

@media screen and (max-width: 768px) {
    .item {
        height: 600px; /* Tinggi tambahan saat lebar layar diperkecil */
    }
    .item3{
    	top: 35%;
    	left: -15%;
    }
}

.item2{
	position: relative;
	transform: translateX(10%) translateY(10%);
	width: 90%;
}

.item3{
	position: relative;
	transform: translateX(35%) translateY(-100%);
}

.item4{
	left: 75%;
	top: 25%;
	transform: translateX(0%) translateY(5%);
	width: 30%;
}

.foto{
	background: url("foto_profil.jpg");
	background-size: 300px;
	background-repeat: no-repeat;
	height: 300px;
	width: 300px;
	transform: translateX(30%) translateY(60%);
	box-shadow: 0 0 10px rgb(20,20,20);
}

.item .foto{
	width: 200px;
	height: 200px;
	background-size: 200px;
	border-radius: 100%;
	transform: translateX(65%) translateY(20%);
}

.text{
	transform: translateX(20%) translateY(45%);
	width: 55%;
}

a{
	text-decoration: none;
	color: inherit;
}

.tombol{
	margin : 10px 0 0 0;
    width: 20%;
    min-width: 150px;
    height: 40px;
    border: 2px solid #007bff;
    border-radius: 7px;
    box-shadow: 0 0 5px #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.tombol:hover{
	box-shadow: 0 0 10px #007bff;
}

.tombol::before {
    content: "";
    position: absolute;
    left: -200%;
    width: 200%;
    height: 100%;
    border-radius: 10px;
    background-color: #007bff;
    transition: left 0.3s ease-in-out;
    z-index: -1;
    box-shadow: 0 0 20px #007bff;
}

.tombol:hover::before{
	left: -80%;
}

.wa .tombol{
	border: 2px solid green;
	box-shadow: 0 0 5px green;
}

.wa .tombol:hover{
	box-shadow: 0 0 10px green;
}

.wa .tombol::before {
	background-color: green;
	box-shadow: 0 0 20px green;
}

.item4 .tombol{
	margin-top: 20px;
}
/*end tugas 3*/

/*UTS*/
.banneruts{
	background: url("pictuts.jpg");
	background-position: center;
	background-size: cover;
	height: 400px;
	color: white;
	border-bottom: #24272E 10px solid;
}

.banneruts h1{
	position: absolute;
	font-size: 55px;
	top: 15%;
	left: 27%;	
}

.banneruts font{
	position: absolute;
	font-size: 20px;
	top: 30%;
	left: 37%;
}

.itemuts{
	margin-top: 3%;
	margin-left: 5%;
	margin-right: 5%;
}

.itemuts2{
	margin-top: 2%;
	margin-left: 7%;
}

.tab{
	margin-left: 5%;
}

.space{
	margin-bottom: 10%;
}
/*end UTS*/

/*tugas 4*/
.item1ts4{
	display: flex;
	margin: 5%;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.box1ts4 p{
	width: 80%;
	padding: 3%;
	border: 2px solid white;
	border-radius: 1%;
	box-shadow: 0 0 20px lightblue;
}

.box2ts4 p{
	width: 80%;
	padding: 3%;
	padding-left: 6%;
	border: 2px solid white;
	border-radius: 1%;
	box-shadow: 0 0 20px white;
}

.box3ts4 p{
	width: 80%;
	border: 2px solid white;
	border-radius: 1%;
	box-shadow: 0 0 20px black;
}
/*end tugas 4*/

/*tugas 5*/
.homets5 {
    background: url("pictts5.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: white;
}

.homets5::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.65);
}

.homets5 h1{
	position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
	font-size: 55px;
	text-shadow: 0 0 10px black;
}

.homets5 font{
	position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
	color: white;
	font-size: 20px;
	text-shadow: 0 0 10px black;
}

.bannerts5{
	background: url("pictts5.jpg");
	background-position: center;
	background-size: cover;
	height: 60vh;
	color: white;
	border-bottom: #24272E 30px solid;
}

.bannerts5::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.65);
}

.bannerts5 h1{
	position: absolute;
    top: 21%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
	font-size: 55px;
	text-shadow: 0 0 10px black;
}

.bannerts5 font{
	position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
	color: white;
	font-size: 20px;
	text-shadow: 0 0 10px black;
}

.containerts5{
    display: flex;
    justify-content: space-around;
    border: 1px solid white;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 0 2px white;
}

.form-containerts5{
    max-width: 48%;
    margin: 0px;
    padding: 5px 25px 25px 25px;
    border: 1px solid white;
    box-shadow: 0 0 5px white;
}

.box1ts5 font{
    display: inline-flex;
    margin-bottom: 5px;
}

input[type="text"],input[type="email"],input[type="password"],textarea,select{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(48, 57, 66);
    color: white;
}

input[type="radio"],input[type="checkbox"] {
    margin-bottom: 10px;
}

.btnhomets5 {
    color: white;
    background-color: rgb(60, 200, 75);
    padding: 10px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}

.btnhomets5:hover{
    background-color: darkgreen;
}

input[type="submit"],input[type="reset"]{
    color: white;
    background-color: rgb(60, 200, 75);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

input[type="submit"]:hover{
    background-color: darkgreen;
}

input[type="reset"]:hover{
    background-color: darkgreen;
}

footer{
    text-align: center;
    background-color: #24272E;
    padding: 15px 0;
    bottom: 0;
    width: 100%;
    text-shadow: 0 0 5px white;
}
/*end tugas 5*/